@* @page *@
@using WebApplication1.Controllers
@model List<DocumentModel>
@{
}

<div>

    <form method="post" action="/Document/postdocument" enctype="multipart/form-data">
        <input type="file" id="fileUpload" name="fileUpload">

        <input type="submit">
        Submit
        </input>
    </form>
</div>

<div>


    <table>
        <thead>
            <tr >
                <th class="table-format">Column 1</th>
                <th class="table-format">Column 2</th>
                <th class="table-format">Column 3</th>
                <th class="table-format">Column 4</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.DocumentName</td>
               @*  <td><a href="/Document/GetDocument/@item.Id">Download</a></td>
 *@
                    <a asp-controller="Document"
                       asp-action="GetDocument"
                       asp-route-id="@item.Id"
                       asp-route-token="@item.Token">
                        Download
                    </a>


                <td>@item.Token</td>
            </tr>

            }
@*             <tr>
                <td>Row 1, Cell 1</td>
                <td>Row 1, Cell 2</td>
                <td>Row 1, Cell 3</td>
            </tr>
            <tr>
                <td>Row 2, Cell 1</td>
                <td>Row 2, Cell 2</td>
                <td>Row 2, Cell 3</td>
            </tr>
            <tr>
                <td>Row 3, Cell 1</td>
                <td>Row 3, Cell 2</td>
                <td>Row 3, Cell 3</td>
            </tr> *@
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Footer</td>
            </tr>
        </tfoot>
    </table>



</div>